<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>TMA</display-name>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>trip</display-name>
		<servlet-name>trip</servlet-name>
		<servlet-class>trip</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewDetails</display-name>
		<servlet-name>ViewDetails</servlet-name>
		<servlet-class>ViewDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InsertData</display-name>
		<servlet-name>InsertData</servlet-name>
		<servlet-class>InsertData</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ReadData</display-name>
		<servlet-name>ReadData</servlet-name>
		<servlet-class>ReadData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>
		/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>trip</servlet-name>
		<url-pattern>
		/trip</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewDetails</servlet-name>
		<url-pattern>
		/ViewDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsertData</servlet-name>
		<url-pattern>
		/InsertData</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadData</servlet-name>
		<url-pattern>
		/ReadData</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description>TO Retieve Data</description>
		<display-name>RetriveSpecificData</display-name>
		<icon>
			<small-icon>icons/small.gif</small-icon>
			<large-icon>icons/small.gif</large-icon>
		</icon>
		<servlet-name>RetriveSpecificData</servlet-name>
		<servlet-class>RetriveSpecificData</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>RetriveSpecificData</servlet-name>
		<url-pattern>/RetriveSpecificData</url-pattern>
	</servlet-mapping>
</web-app>